body{
    direction: rtl;
    margin: 0px;
    padding:0px;
    width:100%;
}

/*coding for menue bar file hader.php */
.header-page{
    background-color:darkorange;
    height: 40px;
    margin:0px;
    position: relative;
    width:100%;
    float:right;
}
.menu-bar{
    margin:0px;
    
    height: auto;
    position: relative;
    float:right;
}

.menu-bar tr td{

  padding:10px;
  margin:5px;
  display:intdne;
  color:deeppink;
  background-color: darksalmon;
  border-radius: 10px;
  font-size:1.1rem;
  position: relative;
  overflow:hidden;
 
}
.menu-bar tr td a{
    text-decoration: none;
}
